PREFIX=.
AUTO_REACTION=on
AUTO_VIEW_STATUS=on
AUTO_SAVE_STATUS=off
AUTO_READ_MESSAGES=off
PM_PERMIT=off
BOT_MENU_LINKS=https://telegra.ph/file/0b918caf8e6440bc67fd5.jpg 
BOT_MODE=private
DATABASE_URL=postgresql://sandy_0462_user:xxcME77niALRsjraVfZtk7ykIV3svuqS@dpg-cosr6cqcn0vc73ep66p0-a.oregon-postgres.render.com/sandy_0462
OWNER_NAME=no_MerCy
OWNER_NUMBER=919922281834
WARN_COUNT=3
STARTING_MESSAGE=on
PRESENCE=
CHAT_BOT=off
SESSION_ID='' 
